[submodule "langchain-bridge-repo"]
	path = langchain-bridge-repo
	url = https://github.com/THEman6989/langchain-fastapi-chat-completion
[submodule "agent-custom-ui"]
	path = agent-custom-ui
	url = https://github.com/THEman6989/agent-chat-ui-costom
[submodule "local-deep-researcher-repo"]
	path = local-deep-researcher-repo
	url = https://github.com/langchain-ai/local-deep-researcher
[submodule "rag-api-repo"]
	path = rag-api-repo
	url = https://github.com/danny-avila/rag_api
[submodule "deep-agents-ui"]
	path = deep-agents-ui
	url = https://github.com/langchain-ai/deep-agents-ui
