fastapi
uvicorn
wakeonlan
langgraph
deepagents==0.4.12
langchain-litellm
langgraph-checkpoint-mongodb
langgraph-store-mongodb
langchain-mongodb
langchain-redis
duckduckgo-search
redis
beautifulsoup4
html2text
tavily-python
langmem
langchain-mcp-adapters
langchain>=0.2.0
langchain-community>=0.2.0
langchain-core>=0.2.0
langchain-openai
# --- VISUALISIERUNG & DEBUGGING (Awesome LangGraph) ---
langgraphics
# agent-tackle-box
langsmith

# --- SUPERVISOR & SEARCH ---
langgraph-supervisor
tavily-python
# langgraph-cua
scrapybara
