fastapi
uvicorn
wakeonlan
langgraph
deepagents
langchain-litellm
langgraph-checkpoint-mongodb
langgraph-store-mongodb
langchain-mongodb
langchain-redis
duckduckgo-search
redis
beautifulsoup4
html2text
tavily-python
langmem
langchain-mcp-adapters
langchain-community
langchain>=0.1.1
langchain-community
langchain-openai
