fastapi
uvicorn
wakeonlan
langgraph
langchain
deepagents
langchain-litellm
langgraph-checkpoint-mongodb
langgraph-store-mongodb
langchain-mongodb
langchain-redis
duckduckgo-search
redis
beautifulsoup4
html2text
tavily-python
langmem
langchain-mcp-adapters
